body {
    background: rgba(15, 45, 219, 0.651);
}

h1 {
    text-align: center;
}

section {
    background-color: rgb(255, 255, 255);
    padding: 20px;
    margin-bottom: auto;
    border-radius: 10px;
}

select {
    margin-top: 0.5rem;
    
}
select#lista {
    width: 177px;
}

input#botao {
    margin-top: 0.5rem;
}
